.dropDowmMenu {
  list-style: none;
}
.dropDownMenuWrapper {
  position: relative;
}

.showOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.433);
  z-index: 999;
  transition: 0.3s;
}
.dropDowmMenu {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 0;
  z-index: 999;
  background: var(--white);
  border-radius: 10px;
  /* display: none; */
  transition: 0.3s;
  visibility: hidden;
  font-size: 0;
}
.showDropDownMenu {
  top: 70px;
  width: 170px;
  /* display: block; */
  transition: 0.3s;
  visibility: visible;
  padding: 0 10px;
  font-size: 1rem;

}
.dropDowmMenu li {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.318);
}
.dropDowmMenu li:last-of-type {
  border: none;
}
.dropDownIcon {
  height: 16px;
  width: 16px;
  fill: #4c5968;
}
.dropDowmMenu li:hover {
  color: red;
}
.dropDowmMenu li:hover .dropDownIcon {
  fill: red;
}
