.footerMenu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 998;
  padding: 20px 26px;
}
.footerMenu ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.footerIcons {
  fill: #aeb8c4;
  cursor: pointer;
}
.footerIcons:hover {
  fill: #4c5968;
}
@media (min-width: 768px) {
  .footerMenu {
    max-width: 720px;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
